html,
body,
header {
  height: 100%;
  background-color: #f4f4f4;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
}
header {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

header:before {
  content: "";
  position: absolute;
  background: blue;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

nav {
  padding: 5px 15%;
  height: 60px;
  background: #49b1e5;
}

ul {
  float: right;
  padding: 0;
  list-style: none;
}

.brand,
li {
  float: left;
}
.brand a {
  color: #16174f;
}

.brand a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.brand {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  margin-top: 15px;
}

li {
  position: relative;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
}

li a {
  font-size: 18px;
}

li a:hover {
  color: coral;
}

li:hover {
  border-bottom: 1px solid coral;
  transition: 500ms;
}

.menu-toggle {
  color: white;
  float: right;
  line-height: 70px;
  font-size: 24px;
  display: none;
}

.clear {
  clear: both;
}

.cta {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 50px;
}

h1 {
  text-transform: uppercase;
}
h1 span {
  font-size: 22px;
}

p {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-info:first-child {
  margin-right: 20px;
  background-color: #49b1e5;
}

.btn-info:last-child {
  margin-right: 20px;
  background-color: coral;
}

a {
  color: white;
  text-decoration: none;
}
a.btn-info {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid white;
  border-radius: 8px;
}
.btn-info:first-child:hover {
  background-color: coral;
}
a.btn-info:hover {
  background: #49b1e5;
  border: none;
}

/*........... login styling...........*/

.login-register-form {
  width: 350px;
  margin: 0 auto;
  color: #fff;
  background-color: #49b1e5;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 15px 5px 15px 5px;
  overflow: hidden;
}

.register-form {
  width: 350px;
  margin: 30px auto;
  color: #fff;
  background-color: #49b1e5;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 15px 5px 15px 5px;
  overflow: hidden;
}
.register-form p,
h3 {
  text-align: center;
}
.login-register-form h3 {
  float: left;
  border-bottom: 1px solid #49b1e5;
  margin-bottom: 30px;
  padding: 13px 0;
  text-align: center;
  width: 100%;
}
.login-register-form p {
  text-align: center;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #49b1e5;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  width: 80%;
  float: left;
  color: #fff;
  margin: 0 10px;
  font-size: 14px;
  padding: 10px;
}
.btn {
  background: none;
  width: 100%;
  border: 2px solid #49b1e5;
  color: #fff;
  padding: 5px 0 5px 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 10px;
}

.btn:hover {
  background-color: #49b1e5;
  border: none;
}

.welcome {
  color: coral;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0px;
  background-color: #222222;
  padding: 30px;
  border-top: 2px solid coral;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.d-sidebar {
  float: left;
  width: 26%;
  border: 1px solid white;
  margin-top: 60px;
  background-color: #16174f;
  border-radius: 10px 20px 10px 20px;
}

.d-main {
  background: #16174f;
  float: right;
  margin-top: 60px;
  border-radius: 10px 20px 10px 20px;
  width: 68%;
  color: #fff;
  height: auto;
  padding: 20px;
}

.d-main form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #e74c3c;
  padding: 2rem;
  border-radius: 8px;
}
.d-main form label {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 14px;
  color: coral;
}
.all-trans-table {
  width: 100%;
  height: auto;
}

.all-trans-table th {
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  background: rgb(230, 187, 171);
  border-radius: 3px;
}

td {
  font-size: 18px;
  padding: 8px;
}

.d-main input {
  border: 2px solid #2980b9;
  outline: none;
  width: 96%;
  color: rgb(49, 45, 45);
  display: block;
  font-size: 18px;
  padding: 0.5rem;
  overflow: hidden;
}
select {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  -webkit-appearance: button;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5rem;
  border: 2px solid #2980b9;
  outline: none;
  font-size: 18px;
}

.serach {
  color: #fff;
  padding: 5px 0 5px 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 50px 0 0 0;
  border-radius: 10px;
}
.edit-btn {
  background: lightgreen;
  border-radius: 5px;
  font-weight: bold;
}

.del-btn {
  background: lightcoral;
  border-radius: 5px;
  font-weight: bold;
}

#terms-msg {
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
#terms-msg a {
  color: lightcoral;
  font-style: italic;
}

/* ==================Footer styling==================*/
#footer {
  background-color: #222222;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
}
#footer p {
  text-align: center;
}
#footer p span {
  text-transform: capitalize;
  font-size: 18px;
  color: coral;
  font-weight: 900;
}

#footer a {
  color: #fff;
  text-decoration: none;
  font-style: italic;
}

@media (max-width: 468px) {
  nav {
    height: 70%;
    display: block;
    background: #696d6e;
  }
  h1 span {
    font-size: 24px;
  }
  h1 {
    margin-top: 0;
    line-height: 25px;
    display: block;
    text-transform: capitalize;
  }

  p {
    text-align: center;
    margin-bottom: 30px;
  }
  .cta {
    top: 40%;
  }
  #footer {
    background-color: #787778;
    padding: 10px;
    margin-top: 0;
  }

  .btn-info:first-child,
  .btn-info:last-child {
    display: block;
    margin-top: 10px;
  }

  .d-sidebar {
    float: none;
    border: 1px solid white;
    margin-top: 10px;
  }
  .d-main {
    float: none;
    margin-top: 10px;
    padding: 0;
    overflow: auto;
  }
  .d-main form {
    margin: 2rem auto;
    border: 2px solid #e74c3c;
    padding: 2rem;
    border-radius: 8px;
  }
  .all-trans-table {
    width: 40%;
    height: auto;
  }
}

@media (max-width: 768px) {
  nav {
    height: 50%;
    display: block;
    background: #49b1e5;
  }
  ul {
    float: none;
    padding: 0;
    list-style: none;
  }

  .brand,
  li {
    float: none;
    text-align: center;
  }

  li:hover {
    border-bottom: none;
  }
  .cta {
    position: relative;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .container,
  .d-sidebar,
  .d-main,
  .login-register-form,
  .register-form {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 960px) {
  nav {
    height: 45%;
    display: block;
    background: #49b1e5;
  }
  ul {
    float: none;
    padding: 0;
    list-style: none;
  }

  .brand,
  li {
    float: none;
    text-align: center;
  }
  li:hover {
    border-bottom: none;
  }
  .cta {
    position: relative;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .container,
  .d-sidebar,
  .d-main,
  .login-register-form,
  .register-form {
    width: 100%;
    height: auto;
  }
}
