html,
body,
header {
  height: 100%;
  background-color: #f3e6e6;
}

body {
  margin: 0;
  padding: 0;
  color: #fff;
}
header {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

header:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}

nav {
  padding: 5px 15%;
  height: 60px;
  background: #702699;
}

ul {
  float: right;
  padding: 0;
  list-style: none;
}
.d-sidebar ul li {
  list-style: none;
  display: block;
  width: 50%;
  min-width: 300px;
  padding: 10px;
  text-align: center;
  border-bottom: none;
}

.d-sidebar ul li a:hover {
  background: #feb501;
  color: #fff;
  padding: 10px;
  width: 50%;
  min-width: 300px;
}

.brand,
li {
  float: left;
}
.brand a {
  color: #fbbc00;
}

.brand a:hover {
  color: #fff;
  border-bottom: 1px solid #feb501;
}

.brand {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  margin-top: 15px;
}

li {
  position: relative;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 14px;
}

li a {
  font-size: 18px;
}

li a:hover {
  color: #feb501;
}

li:hover {
  border-bottom: 1px solid #feb501;
  transition: 500ms;
}

.menu-toggle {
  color: white;
  float: right;
  line-height: 70px;
  font-size: 24px;
  display: none;
}

.clear {
  clear: both;
}

.cta {
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 50px;
}

h1 {
  text-transform: uppercase;
}
h1 span {
  font-size: 22px;
}

p {
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-info:first-child {
  margin-right: 20px;
  background-color: #feb501;
}

.btn-info:last-child {
  margin-right: 20px;
  background-color: #feb501;
}

a {
  color: white;
  text-decoration: none;
}
a.btn-info {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border: 1px solid #feb501;
  border-radius: 8px;
}
#btn-signup {
  background: #702699;
  border: none;
}
.btn-info:first-child:hover {
  background-color: #702699;
}
a.btn-info:hover {
  background: #feb501;
  border: none;
}
#btn-signup:hover {
  background: #feb501;
  border: none;
}

/*........... login styling...........*/

.login-register-form {
  width: 350px;
  margin: 0 auto;
  color: #fff;
  background-color: #feb501;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 15px 5px 15px 5px;
  overflow: hidden;
}

.register-form {
  width: 350px;
  margin: 30px auto;
  color: #fff;
  background-color: #feb501;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 15px 5px 15px 5px;
  overflow: hidden;
}
.register-form p,
h3 {
  text-align: center;
}
.login-register-form h3 {
  float: left;
  border-bottom: 1px solid#FEB501;
  margin-bottom: 30px;
  padding: 13px 0;
  text-align: center;
  width: 100%;
}
.login-register-form p {
  text-align: center;
}
.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #feb501;
}
.textbox input {
  border: none;
  outline: none;
  background: none;
  width: 80%;
  float: left;
  color: #fff;
  margin: 0 10px;
  font-size: 14px;
  padding: 10px;
}
.btn {
  background: none;
  width: 100%;
  border: 2px solid #feb501;
  color: #fff;
  padding: 5px 0 5px 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 20px 0;
  border-radius: 10px;
}

.btn:hover {
  background-color: #feb501;
  border: none;
}

.welcome {
  color: #f4f4f4;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0px;
  background-color: #a85aa7;
  padding: 30px;
  border-top: 2px solid #feb501;
}

.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.d-sidebar {
  float: left;
  width: 26%;
  border: 1px solid white;
  margin-top: 60px;
  background-color: #5f515e;
  border-radius: 10px 20px 10px 20px;
}

.d-sidebar .profile-img {
  width: auto;
  height: 200px;
  background-color: #5f515e;
  margin-bottom: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  opacity: 0.6;
}

.image-container {
  position: relative;
}
#t_c {
  width: 20%;
  position: relative;
  bottom: 70px;
  left: 134px;
  background-color: #f4f4f4;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}
.d-sidebar h3 {
  background: #feb501;
  padding: 10px;
  border-radius: 10px 20px 10px 20px;
  text-transform: uppercase;
}
.d-main {
  background: #5f515e;
  float: right;
  margin-top: 60px;
  border-radius: 10px 20px 10px 20px;
  width: 68%;
  color: #fff;
  height: auto;
  padding: 20px;
}

.d-main form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid #feb501;
  padding: 2rem;
  border-radius: 8px;
}
.d-main form label {
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
.all-trans-table {
  width: 100%;
  height: auto;
}

.all-trans-table th {
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
  background: #feb501;
  border-radius: 3px;
}

td {
  font-size: 16px;
  padding: 8px;
}

.d-main input {
  border: 2px solid #feb501;
  outline: none;
  width: 96%;
  color: rgb(49, 45, 45);
  display: block;
  font-size: 18px;
  padding: 0.5rem;
  overflow: hidden;
}
select {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  -webkit-appearance: button;
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5rem;
  border: 2px solid #feb501;
  outline: none;
  font-size: 18px;
}

.serach {
  color: #fff;
  padding: 5px 0 5px 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 50px 0 0 0;
  border-radius: 10px;
}
.edit-btn {
  background: #feb501;
  border-radius: 5px;
  font-weight: bold;
}

.del-btn {
  background: rgb(241, 85, 85);
  border-radius: 5px;
  font-weight: bold;
}

#terms-msg {
  padding: 5px;
  margin: 5px;
  display: inline-block;
}
#terms-msg a {
  color: #feb501;
  font-style: italic;
}
/* ==================Footer styling==================*/
#footer {
  background-color: #d595f8;
  color: #ffffff;
  padding: 20px;
  margin-top: 10px;
  font-size: 14px;
  height: 60px;
}
#footer,
#footer p {
  text-align: center;
}
#footer span {
  color: #feb501;
  font-weight: bold;
}
#footer a {
  color: #fff;
  text-decoration: none;
  font-style: italic;
}

@media (max-width: 468px) {
  nav {
    height: 70%;
    display: block;
    background: #702699;
  }
  h1 span {
    font-size: 24px;
  }
  h1 {
    margin-top: 0;
    line-height: 25px;
    display: block;
    text-transform: capitalize;
  }

  p {
    text-align: center;
    margin-bottom: 30px;
  }
  .cta {
    top: 40%;
  }

  .btn-info:first-child,
  .btn-info:last-child {
    display: block;
    margin-top: 10px;
  }

  .d-sidebar {
    float: none;
    border: 1px solid white;
    margin-top: 10px;
  }
  .d-main {
    float: none;
    margin-top: 10px;
    padding: 0;
    overflow: auto;
  }
  .d-main form {
    margin: 2rem auto;
    border: 2px solid #feb501;
    padding: 2rem;
    border-radius: 8px;
  }
  .all-trans-table {
    width: 40%;
    height: auto;
  }
  .d-sidebar .b-setting {
    margin: 0;
  }

  .d-sidebar .profile-img {
    width: 100%;
    height: 200px;
  }

  .image-container {
    position: relative;
  }
  #t_c {
    width: 20%;
    left: 115px;
    padding: 0 3px 0 0;
  }
  .d-sidebar h3 {
    margin: 20px 10px;
  }
}

@media (max-width: 768px) {
  nav {
    height: 50%;
    display: block;
    background: #5e1b8c;
  }
  ul {
    float: none;
    padding: 0;
    list-style: none;
  }

  .brand,
  li {
    float: none;
    text-align: center;
  }

  li:hover {
    border-bottom: none;
  }
  .cta {
    position: relative;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .container,
  .d-sidebar,
  .d-main,
  .login-register-form,
  .register-form {
    width: 100%;
    height: auto;
  }

  .d-sidebar .profile-img {
    width: 100%;
    height: 200px;
  }

  .image-container {
    position: relative;
  }
  #t_c {
    width: 20%;
    left: 115px;
    padding: 0 3px 0 0;
  }
  .d-sidebar h3 {
    margin: 0 10px;
  }
}

@media (max-width: 960px) {
  nav {
    height: 45%;
    display: block;
    background: #5e1b8c;
  }
  ul {
    float: none;
    padding: 0;
    list-style: none;
  }

  .brand,
  li {
    float: none;
    text-align: center;
  }
  li:hover {
    border-bottom: none;
  }
  .cta {
    position: relative;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .container,
  .d-sidebar,
  .d-main,
  .login-register-form,
  .register-form {
    width: 100%;
    height: auto;
  }
}
